---
import Base from '@/layouts/Base.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog', ({ data }) => !data.draft);
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: CollectionEntry<'blog'> };
const { title, description, pubDate, tags } = post.data;
const { Content } = await post.render();
---
<Base title={`${title} – Crypto Radar`} description={description}>
  <article class="prose">
    <h1>{title}</h1>
    <p class="text-sm text-gray-500">{pubDate.toDateString()}</p>
    <Content />
    {tags.length ? (
      <p>Taguri:
        {tags.map((t, i) => (
          <>
            {' '}<a class="text-blue-600" href={`/tags/${t}/`}>#{t}</a>{i < tags.length - 1 ? ',' : ''}
          </>
        ))}
      </p>
    ) : null}
  </article>
</Base>

